:root {
    --square-empty: #3CA1E3;
    --square-1: #FFDDA7;
    --square-2: #ACBAA5;
    --square-hover-own: #44BB55;
    --square-hover: #707090;
    --square-hover-opponent: #BB4455;
    --square-hover-ghost: #999;
    --square-select: #009922;

    --border: #111;

    --red: #be525b;
    --castle: #f0f0f0;
    --candidate: #B0759F;
}

.app {
    padding: 1rem;
    margin: 0;

    height: 100%;
    width: 100vw;
    overflow: scroll;
    position: relative;
}

@media (min-width: 1200px) {
    .app {
      height: 100vh;
    }
}

.board {
    overflow: hidden;
    background-color: var(--square-empty);
}

.title {
    width: 0;
    min-width: 200px;
}

.chat {
    width: 0;
    min-width: 200px;
    max-height: 100%;
}

.chatlog {
    min-height: 30px;
    max-height: 100%;
    overflow: scroll;
}

.medieval-font {
    font-family: "MedievalSharp", cursive;
}

body {
    padding: 0;
    margin: 0;
    overflow: scroll;

    font-weight: 400;
    font-style: normal;
}
